{% extends "bundle.html.twig" %}

{% block lang %}fr{% endblock %}

{% block title %}Symfony | Entity{% endblock %}

{% block main %}

    <div class="container py-5">
        <div class="row">
            <div class="col">

                <h1 class="border-bottom mb-5 pb-3">Symfony | Entity</h1>

                <button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.open('{{ path('event_list') }}','_self');">Back</button>

                <h2 class="my-3">Event #{{ event.id }}</h2>
                
                <div class="mb-3">
                    <b>Name:</b> {{ event.name }} <br>
                    <b>Price:</b> {{ event.price }}€ <br>
                    <b>Date:</b> {{ event.date|date('Y-m-d') }} <br>
                    <b>Description:</b> {{ event.description }} <br>
                    <b>Location:</b> {{ event.location }} <br>
                </div>

                <button type="button" class="btn btn-sm btn-warning" onclick="javascript:window.open('{{ path('event_update', {'id': event.id}) }}','_self');">Update</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function(){
    $(".btn-danger").click(function(){
        var del = confirm("Are you sure you want to delete this event?");
        if (del == true) {
            window.open('{{ path('event_delete', {'id': event.id}) }}', '_self');
        }
    });
});
</script>
{% endblock %}
